@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200&display=swap');
:root {
    --bgc-col: #ffffff;
    --menu-hover: #27187E;
    --filters-color: #3C3C3C;
    --font-color: #000000;
}

.app {
    /* min-height: 100vh; */
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

h3 {
    font-weight: 300;
}

h5 {
    font-weight: 500;
}

header {
    background-color: var(--bgc-col);
    margin: 0 auto;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    border-bottom: 1px solid rgba(126, 126, 126, 0.5);
}

.inner-header {
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;  
    display: flex; 
    align-items: center;
    /* background-color: #1b53c0; */
    justify-content: space-between;
    /* border-bottom: 1px solid var(--filters-color); */
}

.logo {
    display: flex;
    align-items: center;
}

.form {
    flex: 1;
    margin-left: 30px;
    max-width: 650px;
    min-width: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #C3C2C8;
}

.svg {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-left: 15px;
    height: 50px;
    align-items: center;
}


.comprasion, .cart, .login, .burger {
    padding: 5px 10px;
    cursor: pointer;
}

.burger {
    width: 100%;
    height: 100%;
    display: none;
}

.burger svg {
    width: 100%;
    height: 100%;
}

.login:hover, .cart:hover, .comprasion:hover {
    color: var(--menu-hover);
}

.cart {
    margin: 0 15px;
}

.custom-select {
    position: relative;
    font-size: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.custom-option{
    padding: 8px 5px;
}

.custom-options>div {
    padding: 8px 0;
}

.arrow {
    display: flex;
    align-items: center;
}

.selected-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    /* border-radius: 15px; */
    padding: 7px;
    border: 1px solid var(--filters-color);
    border-radius: 8px;
}

.custom-select.expanded .selected-option {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-options {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 1px solid var(--filters-color);
    background-color: var(--bgc-col);
    width: 80px;
    top: 100%;
    left: 0;
    padding: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* .custom-option {
    padding: 1px 3px;
} */

.opt:hover {
    background-color: #abadb3;
}

.custom-select.expanded .custom-options {
    display: flex;
}

.custom-select.expanded .arrow svg {
    transform: rotate(180deg);
}
.input {
    cursor: pointer;
    display: none;
}

.input-tr {
    transform: translateX(27px);
    transition: 300ms;
}

.checkbox-theme {
    position: relative;
    width: 52px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid var(--filters-color);
}

.checkbox-theme svg {
    padding: 5px;
    width: 20px;
    height: 20px;
}

.klor {
    position: absolute;
    transition: 300ms;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--menu-hover);
}

main {
    margin: 0 auto;
    padding-top: 100px;
    background-color: var(--bgc-col);
}

.main-cont {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.photos {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.photo1, .photo2, .photo3, .photo4 {
    width: 100%;
    height: 100%;
}

.photos img {
    width: 100%;
    height: 100%;
}

.photo2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.photo4 {
    grid-column-start: 1;
}

.photo3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.parent-filters {
    width: 25%;
    margin-right: 5px;
    padding: 5px 10px;
    height: 800px;
    border-radius: 10px;
}

.filtername {
    display: flex;
    align-items: center;
}

.esc {
    display: none;
    cursor: pointer;
}

.esc svg {
    fill: #000000;
}

.filters-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters {
    /* background-color: #f34b4b; */
    width: 100%;
    height: 100%;
    margin-top: 18px;
    padding: 0 20px;
}

.filters h5 {
    font-size: 20px;
    color: var(--font-color);
    opacity: 0.6;
    /* margin-left: 20px; */
}

.brands {
    margin: 10px 0 30px;
    display: flex;
    height: 70px;
    gap: 30px;
    flex-flow: column wrap;
}

.label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input:checked + .label .checkbox {
    background-color: var(--menu-hover);
}

.checkbox {
    width: 14px;
    height: 14px;
    border: 1px var(--menu-hover) solid;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.check-svg {
    width: 100%;
    height: 100%;
    fill: var(--bgc-col);
}

.input {
    cursor: pointer;
    display: none;
}

.range-slider {
    width: 200px;
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
  }
  .range-selected {
    height: 100%;
    left: 10%;
    right: 20%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
  }

  .range-input {
    width: 200px;
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    appearance: none;
    -moz-appearance: none;
  }
  .range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
  }
  .range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
  }
  .range-price {
    margin: 30px 0;
    width: 200px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  .range-price label {
    margin-right: 5px;
  }
  .range-price input {
    width: 80px;
    padding: 5px;
  }
  .range-price input:first-of-type {
    margin-right: 15px;
  }

.price {
    border: 1px solid #C3C2C8;
    border-radius: 8px;
}

.parent-phones {
    width: 75%;
    margin-left: 5px;
    border-radius: 10px;
}

.smart-head {
    display: flex;
    justify-content: space-between;
}

.h3 {
    font-size: 40px;
    margin-left: 10px;
}

.phone-select {
    padding: 8px 9px;
    width: 178px;
    border: 1px solid #C3C2C8;
    border-radius: 8px;
    cursor: pointer;
}

.filter-price {
    display: flex;
    gap: 25px;
}

.filtr {
    padding: 8px 9px;
    border: 1px solid #C3C2C8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.smartphones {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}

.phones {
    width: 100%;
    margin-top: 18px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 7px;
}

footer {
    max-width: 1440px;
    padding: 0 20px;
    height: 100px;
    background-color: var(--filters-color);
}

@media(max-width:1024px) {
    .filtr {
        display: flex;
    }
    .cart, .comprasion, .login, .custom-select, .theme {
        display: none;
    }
    .burger {
        display: block;
    }
    .photo3 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .parent-filters {
        position: absolute;
        top: 80px;
        background-color: var(--bgc-col);
        left: -350px;
        transition: 500ms;
    }

    .parent-filters.bacel {
        display: block;
        position: fixed;
        width: 300px;
        height: 100%;
        transform: translateX(350px);
        transition: 500ms;
    }

    .esc {
        display: block;
    }

    .parent-phones {
        width: 100%;
    }
}