.app {
    min-height: 100%;
    /* background-color: var(--bg-color-main); */
}

.header {
    height: 80px;
    background-color: var(--bg-color-header);
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.header-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.main {
    margin-top: 80px;
}

.phones-container {
    display: flex;
}

.filters-container {
    max-width: 300px;
    width: 100%
}