.card-parent { 
    display: flex;
    align-items: center;
    aspect-ratio: 1/2;
    border: 1px solid #C3C2C8;
    border-radius: 10px;
}

.card {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.img {
    flex: 1;
    cursor: pointer;
}

.about {
    flex: 1;
}

.about h5 {
    margin: 15px 0;
    font-size: 20px;
}

.img img {
    width: 100%;
}

.rating {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy p {
    font-size: 20px;
    font-weight: 700;
}

.buy-cart {
    padding: 6px 15px;
    background: #27187E;
    border-radius: 9px;
    cursor: pointer;
}

.compare {
    cursor: pointer;
}