.card-parent { 
    border-radius: 10px;
    padding: 10px;
    background-color: var(--bgc-card);
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
}

.img {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about {
    /* flex: 1; */
    margin-bottom: 30px;
}

.about h5 {
    margin: 15px 0;
    font-size: 16px;
}

.img img {
    width: 75%;
    /* width: 100px; */
}

.rating {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy p {
    font-size: 16px;
    font-weight: 700;
}

.buy-cart {
    padding: 6px 15px;
    background: #27187E;
    border-radius: 9px;
    cursor: pointer;
}

.compare {
    cursor: pointer;
}