:root {
    --bgc-col: #23272F;
    --logo-my-color: #ffb703;
    --logo-mobile-color: #ededed;
    --bgc-hover: #626264;
    --bgc-card: #2d323a;
    --filters-color: #2e2424;
    --font-color:#fff;
}
